nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0a0a0aee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    z-index: 1000;
}

nav .logo{
    color: #00d4ff;
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00d4ff;
}

* {
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: 'segoe UI', sans-serif;
}

body {
    background-color: #0a0a0a;
    color: #ffffff;
}

/* HERO SECTION */
#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #0a0a0a, #1a1a2e);
}

#hero h1 {
    font-size: 3rem;
    color: #aaaaaa;
    margin-bottom: 15px;
}

#hero p {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-bottom: 30px;
}

#hero a {
    padding: 12px 30px;
    background-color: #00d4ff;
    color: #0a0a0a;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

/*ABOUT SECTION*/
#about {
    padding: 80px 20%;
    background-color: #111111;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    color: #00d4ff;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1rem;
    color: #aaaaaa;
    line-height: 1.8;
}

/*SKILLS SECTION*/
#skills {
    padding: 80px 20%;
    background-color: #0a0a0a;
    text-align: center;
}

#skills h2 {
    font-size: 2rem;
    color: #00d4ff;
    margin-bottom: 40px;
}

#skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#skills ul li {
    padding: 10px 25px;
    border: 2px solid #00d4ff;
    border-radius: 20px;
    color: #00d4ff;
    font-weight: bold;
}

/*PROJECTS SECTION*/
#projects {
    padding: 80px 20%;
    background-color: #111111;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#projects h2 {
    font-size: 2rem;
    color: #00d4ff;
    margin-bottom: 40px;
}

.project-card {
    background-color: #1a1a2e;
    border: 1px solid #00d4ff33;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
    text-align: left;
    width: 280px;
}

.project-card h3 {
    color: #00d4ff;
    margin-bottom: 10px;
}

.project-card p {
    color: #aaaaaa;
    line-height: 1.7;
}

/*CONTACT SECTION*/
#contact {
    padding: 80px 20%;
    background-color: #0a0a0a;
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    color: #00d4ff;
    margin-bottom: 20px;
}

#contact p {
    color: #aaaaaa;
    font-size: 1.1rem;
}
